.aboutUs-container {
  width: 100%;
  height: 100%;
}

.aboutUs-team {
  width: 100%;
  height: 100%;
  padding: 2rem 0;
  background-color: #3d8577;
}

.aboutUs-office {
  width: 100%;
  height: 100%;
  padding: 2rem 0;
  background-color: #d9d9d9;
}

.aboutUs-team-full {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Montserrat Bold" !important;
  font-size: 2rem;
  color: #ffffff;
  width: 100%;
  height: 600px;
  background-image: url("../../assets/images/team2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
