.footer-container {
  width: 100%;
  background-color: #3d8577;
  /* height: 100%; */
  display: flex;
}

.footer-text-alignment {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-size: 0.9rem;
  padding: 1rem 0;
}
