.notFound-container {
  width: 100%;
  height: 100%;
  /* margin-top: 60px; */
}

.notFound-test {
  width: 100%;
  height: 100%;
  padding: 2rem 0;
  background-color: var(--notFound-bg);
  color: var(--app-fontColor-light);
}

.notFound-img-container {
  width: 100%;
  height: calc(100vh - 113px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.notFound-img {
  height: 90%;
  max-width: 100%;
}
