.office-container {
  width: 100%;
}

.office-subtitle {
  display: flex !important;
  flex-direction: column !important;
}

.office-subtitle-text {
  margin: 0 0 1rem 0;
}

.office-image1 {
  min-height: 300px !important;
  background-image: url("../../assets/images/office1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.office-image2 {
  min-height: 300px !important;
  background-image: url("../../assets/images/office2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.office-image3 {
  min-height: 300px !important;
  background-image: url("../../assets/images/office3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.office-text {
  width: 100%;
  min-height: 300px !important;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.office-text-font {
  font-family: "Montserrat Light" !important;
}
