:root {
  --primary-color: #4d897f;
  --secondary-color: #3f5e58;
  --third-color: #d9d9d9;
  --fourth-color: #353535;
  --fifth-color: #3d8577;
  --sixth-color: #ffffff;

  --app-fontColor-dark: #4a4d57;
  --app-fontColor-light: #ffffff;
  --app-headerColor: #a07d52;

  --home-bg1: var(--fourth-color);

  --notFound-bg: var(--fourth-color);

  --header-bg: var(--sixth-color);

  --footer-bg: var(--fifth-color);

  --courses-bg1: var(--fourth-color);

  --contact-bg1: var(--fourth-color);

  --about-us-bg1: var(--fifth-color);
  --about-us-bg2: var(--third-color);
  --team-bg: var(--fourth-color);

  --shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}
